header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px  rgb(238, 18, 18);
}

li {
    display: inline-block;
    margin: 3rem;
    cursor: pointer;
}